@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Sans&display=swap');

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


* {
    box-sizing: border-box; 
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.3rem;
    line-height: 1.5;
    font-family: 'Concert One', cursive;

}

/* header */

.top {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.top h1, nav, h2, p {
    margin: .5%; 
}

h1 {
    font-size: 6rem;  
}
 
h2 {
    font-size: 6rem; 
}

p {
    font-family: 'PT Sans', sans-serif;
}

nav {

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center; 

}

nav a {

    display:inline-block; 
    width: 100px;
    border: 2px solid black; 
    text-decoration: none; 
    color: black;
    padding: 2%;
    text-align: center;
}

nav a:hover {
    background: black; 
    color: white; 
}

/* middle section */

.hero-img {

    background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    height: 70vh;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 30% 70%;

    margin: 2% 0% 2% 0%;  

}


/* lower middle */

.middle-bottom {
    display:flex; 
    justify-content: flex-start; 
}


.middle-bottom img {
    width: 15%; 
    margin: .5%;
    border: 2px solid black; 
}

.paragraph {
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

.paragraph p {
    width: 40%; 
    border: 2px solid black; 
    margin-bottom: 14%;
}

