@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=PT+Sans&display=swap');

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


* {
    box-sizing: border-box; 
    max-width: 100%;
    border: 2px solid gray; 
}

html {
    font-size: 62.5%;
}

body {

    font-size: 2.3rem;
    line-height: 1.5;
    font-family: 'Concert One', cursive;

}

/* header */

.top {
    height: 30vh; 
    margin-left: 2%;
}


h1 {

    margin-bottom: 2%;
}


.info {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.big-image {
    width: 45%; 
    margin: 2%; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    display: flex; 
    flex-direction: column;
    width: 45%; 


}


.big-image img {
    width: 50%; 
}

.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 2%; 
}

/* targets all images */ 

.image-container img {

}


/* each parent box inside our image container */
.image-container div {
    margin: 2%; 
    width: 20%; 
}